
@media (max-width: 767px){
	.accueil .row .col-lg-12 button{
		margin-left: 250px;
		padding: 20px 50px;
	}

	#services{
	height: 2500px;
	}
	.row.col-lg-4{
		height: 500px;
	} 


	.portfolio_wrapper{
		height: 4000px;
	} 

	#about{
		height: 2000px;
	}

	#team{

	}
	#about .chrono .chrono-pane2 p{
	line-height: 1.75;
	margin-top: 0;
	display: block;
	margin-bottom: 0;
	width: 100%;
	}

	#about .chrono .chrono-pane2{
	display: block;
	position: relative;
	padding: 0px 0px 0px 120px;
	width: 100%;
	text-align: justify;
	}

	#about .chrono .chrono-image{
	position: absolute;
	left: 10%;
	width: 75px;
	height: 75px;
	text-align: center;
	}

	#about .chrono .chrono-pane1{
		display: block;
		position: relative;
		padding: 0px 0px 0px 120px;
		width: 100%;
		text-align: justify;
		font-weight: bold;
	}

	.chrono-text .chrono-image h4{
		font-size: 10px;
	}
	#team{
		height: 1500px;
	}
	
	#contact{
		height: 1000px;
	}

	.footer{
		height: 500px;
	}

	button{
		text-align: center;
		position: absolute;
		right: 200px;
	}
}


















